<div class="main">
  <div class="container">
      <div class="signup-content">
          <div class="signup-img" style="">
              <div class="signup-img-content">
                  <img src="assets/images/sts.png" alt="">
                  <h2>STSGen </h2>
                  <h3>AWS STS Generator </h3>
                  <p><span class="powered-by">powered by</span>&nbsp;<a class="org" href="https://www.sketchmycloud.com" target="_blank">SketchMyCloud</a></p>
              </div>
          </div>
          <app-sts></app-sts>
      </div>
  </div>

</div>
<router-outlet></router-outlet>